<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $style := resources.Get "styles/main.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <title>{{ .Title }}</title>
  </head>
  <body>
      {{ partial "navbar.html" .}}
      <div class="row">&nbsp;</div>
      <div class="container">
          {{- block "main" . }}{{- end}}
          {{ partial "footer.html" .}}
      </div>

      {{ $params := dict "api" "http://localhost:7071/api/FormPost" }}
      {{ $opts := dict "params" $params }}
      {{ $js := resources.Get "js/index.js" | js.Build $opts  }}
      <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
  </body>
</html>
